.products {
  display: flex;
  flex-direction: column;
}

.products h2 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
  padding: 20px;
}
